@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

//media query breakpoints
$mobile: 375px;
$tablet-max: 1024px;
$tablet-min: 768px;

//typeface
$main-font: 'Josefin Sans', sans-serif;